
  .message{
    display: inline;
  }

  .barredefil{
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    justify-content: space-between;
    background-color: var(--first-color-second);
    padding-right: 2rem;
    
  }
  .icon {
    flex: 0.1;
    display: flex;
    justify-content: flex-end;
    
  }
  .message {
    flex: 3; 
    text-align: center;
    padding-left: 2rem;
  }
  .welcome_container {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--first-color);
    font-size: var(--big-font-size);
  }

  .welcome-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.welcome_text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(16, 212, 68, 0.5);
}


