.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: var(--first-color);
  }
  .title{
    display: flex;
    font-size: 1.4vw;
  }
  
  .logo {
    flex: 1;
    height: 25px;
    align-self: baseline;
  }
  
  .login a{
    color:white;
    text-decoration: none;
  }
  

  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items:normal;
    }
    
    .logo {
      order: 0;
      align-self: flex-start;
      
    }
  
    .nav {
      order: 10;
      width: auto;
      margin-bottom: 10px;
    }
  
    .menu {
      flex-direction: column;
    }
  
    .menu li {
      position: static;
    }
  
    .menu li a {
      display: block;
      padding: 10px 20px;
    }
  
    .submenu {
      position: static;
      display: none;
    }
  
    .menu li:hover .submenu {
      display: block;
      margin-left: 20px;
    }
  
    .login {
      order: 5;
      align-self: self-end;
      text-align: left;
    }
    .title{
      display: none;
    }
  }
  