.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: var(--first-color);
  }
  .title{
   
    font-size: 0.8vw;
    margin-left: 10px;
    
  }
  
  .logo {
    flex: 2;
    display: flex;
    height: 25px;
    align-self: baseline;
    flex-direction: row;
  
  }
  
  .login a{
    color:white;
    text-decoration: none;
  }

  .login_active{
    background-color: white;
    color:var(--first-color);
    border-bottom:  var(--first-color-alt) double;
    padding: 0px 5px; 
  }
  .login_active a{
    text-decoration: none;
  }

  .login{
    margin-left: 10px;
  }
  .light{
    background-color: var(--first-color);
}
.dark{
    background-color: #000;
}

  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items:normal;
    }
    
    .logo {
      order: 0;
      align-self: flex-start;
      
    }
  
  
    .login {
      order: 5;
      align-self: self-end;
      text-align: left;
    }
    .title{
      display: none;
    }
  }
  